.container {
    display: flex;
    border: 1px solid red;
    
}

.row-container{
    display: flex;

}

.column-container{
    display: flex;
    flex-direction: column;
}

.row{
    border: 1px solid purple;
    padding: 1.5%;
    margin: 1px;
}

.column{
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    padding: 1.5%;
    margin: 1px;
}
