.container {
    display: flex;
    border: 1px solid red;
    background-color: aquamarine;
    
}

.row-container{
    display: flex;
    flex-direction: column;

}

.column-container{
    display: flex;
   
}

.square {
    width: 5px;
    height: 5px;
    padding: 3px;
}